{% extends "blog/base.html" %}

<!--    image blok-->
{% block slider %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in slides %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for slide in slides %}
      <div class="item {% if forloop.first %}active{% endif %}">
        <img src="{{ slide.image.url }}" alt="{{ slide.title }}" class="img-responsive center-block">
        <div class="carousel-caption">
          <h3>{{ slide.title }}</h3>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
{% endblock %}
<!--  end  image blok-->

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% else %}
<h1 class="page-header">


    Page Heading
    <small>Secondary Text</small>
</h1>
{% for post in posts %}
    <h2>
        <a href="{% url 'post' title=post.slug %}">{{ post.title }}</a>
    </h2>
    <p class="lead">
        by <a href="index.php">{{ post.user }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published_date }}</p>
    <hr>
<p>
  Теги:
  {% for tag in post.tags.all %}
    <a href="{% url 'tag' tag.name %}" class="badge bg-info text-white">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
  {% empty %}
    <span>Немає тегів.</span>
  {% endfor %}
</p>
    <hr>
    <img class="img-responsive" src="{{ post.image }}" alt="">
    <hr>
    <p>{{ post.content|truncatewords:20 }}</p>
    <a class="btn btn-primary" href="{% url 'post' title=post.slug %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
{% empty %}
<p>Немає постів!</p>
{% endfor %}
<!-- Pager -->
<ul class="pager">
    <li class="previous">
        <a href="#">&larr; Older</a>
    </li>
    <li class="next">
        <a href="#">Newer &rarr;</a>
    </li>
</ul>
{% endif %}
{% endblock %}