{% if user.is_authenticated %}
<div class="d-flex align-items-center ms-auto">
    <a href="{% url 'profile' %}" class="me-2">Hello, {{ user }}</a>
    <a href="{% url 'blog_logout' %}" class="btn btn-danger">Logout</a>
</div>
{% else %}
<form class="d-flex align-items-center ms-auto" method="POST" action="{% url 'blog_login' %}">
    {% csrf_token %}
    <div class="me-2">
        <input type="text" placeholder="Login" name="login" class="form-control">
    </div>
    <div class="me-2">
        <input type="password" placeholder="Password" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign In</button>
</form>
<div class="ms-3">
    <a href="{% url 'register' %}">Реєстрація</a>
</div>
{% endif %}
