{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6">
                <!-- Image of the product -->
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid" alt="{{ product.name }}">
            </div>
            <div class="col-lg-6">
                <h1>{{ product.name }}</h1>
                <h3>${{ product.price }}</h3>
                <p><strong>Category:</strong> <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></p>
                <p>{{ product.description|linebreaks }}</p>
                <form action="#" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Додати до кошика" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
