{% extends "blog/base.html" %}
{% load static %}

{% block content %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}

    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
 <div id="sidebar">
    <h3>Categories</h3>
    <div class="list-group">
        <a href="{% url 'shop:product_list' %}"
           class="list-group-item {% if not category %}active{% endif %}">
            All
        </a>
        {% for c in categories %}
            <a href="{{ c.get_absolute_url }}"
               class="list-group-item {% if category and category.slug == c.slug %}active{% endif %}">
                {{ c.name }}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}